/* General */
html, body {
	margin: 0;
	padding: 0;
	scroll-padding-top: 3em;
}

body {
	display: flex;
	flex-wrap: wrap;
}

/* Navbar */
.navbar-expand-lg{
	padding: .4em 2em;
	color: #fff;
	font-size: 1.1em;
	text-transform: uppercase;
	background-color: navy;
}

.navbar-nav a{
    padding: 0.2em 2.7em;
	margin-right: 1.5em;
}

.landing {
	background: url(assets/desert-stars-unsplash.jpg);
	margin-bottom: 2em;
}

/* Title Card */
.border-info{
	margin: 4em 2em 0;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	text-align: center;
}

.card-title {
	color: rgb(228, 228, 228);
	margin-top: .75em;
	font-family: 'Alfa Slab One', sans-serif;
}

.card-text {
	color: rgb(228, 228, 228);
}

/* About Me */
#myPhoto {
	width: 12em;
	margin-right: 2em;
}

.bioText {
	text-align: justify;
	display: flex;
	justify-content: space-between;
	color:#ddd;
}

#links {
	display: flex;
	justify-content: center;
	margin: 2em 0 6em 0;
}

#linkedInIcon {
	width: 4em;
	transition: filter .3s ease;
}

#linkedInIcon:hover {
	filter: brightness(135%);
}

#gitHubIcon {
	width: 3.6em;
	transition: filter .3s ease;
	filter:invert(100%)
}

#gitHubIcon:hover {
	filter: invert(75%);
}

/* Certifications */
#CCNABadge {
	width: 6em;
	margin: -.435em 3em 0 3em;
}

#CCNPBadge {
	width: 6em;
	margin: -.435em 3em 0 3em;
}

#DevNetBadge {
	width: 6em;
	margin: .435em 3em .35em 3em;
}

#JNCIS-ENTBadge {
	width: 6em;
	margin: -.8em 3em .35em 3em;
}

#ArubaCampusAccessBadge {
	width: 6em;
	margin: -.8em 3em .35em 3em;
}

#F5AdministratorBadge {
	width: 6em;
	margin: -.8em 3em .35em 3em;
}

/* EXPIRED CERTIFICATIONS 

#PaloAltoBadge {
	width: 6em;
	margin-top: -.5em;
}

#AWSdevBadge {
	width: 5.5em;
	margin: 0 3em;
}

#AWSSAABadge {
	width: 5.5em;
}

#AplusBadge {
	width: 5.5em;
	margin: .25em 3em;
}

#SecurityPlusBadge {
	width: 5.5em;
	margin: .25em 0;
}

*/


/* Certifications and Skills */
.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1em;
	margin-bottom: 1em;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1em;
	margin-bottom: 3em;
}

  li {
	display: inline-block;
	margin-right: 2em;
  }
  
/* WEB DEV ICONS

#htmlBadge {
	width: 5em;
}

.cssLogo {
	padding: 0 2em;
}

#cssBadge {
	width: 5em;
}

.javascriptLogo {
	padding-right: 2em;
}

#javascriptBadge {
	width: 5em;
}

#pythonBadge {
	width: 5em;
	padding-bottom: .5em;
}

*/

/* OLD ACCOLADES - BALLSTATE LINK BROKEN

#CertCrusher {
	width: 10em;
	margin-bottom: .5em;
	border-radius: .2em;
	border: 1px solid #ddd;
	padding: .1em;
	transition: filter .3s ease;
}

#CertCrusher:hover {
	filter: brightness(85%);
}

*/

/* OLD WEB DEV PROJECTS */
/*
#projects {
	padding: 3em 0;
	text-align: center;
	background-image: linear-gradient(white, lightgray);
}

.row {
	margin: 2em 0;
}

#projectsRow {
	min-height: 15em;
	margin-top: 6em;
}

#projectsRow2 {
	height: 15em;
	margin-top: 6em;
}
*/

/* Python Data Vis */
/* #data_vis {
	width: 14em;
	border-radius: .2em;
	border: 1px solid #ddd;
	padding: .1em;
	transition: filter .3s ease;
}

#data_vis:hover {
	filter: brightness(85%);
} */

/* API Project */
/* #API {
	width: 16em;
	border-radius: .2em;
	border: 1px solid #ddd;
	padding: .1em;
	transition: filter .3s ease;
}

#API:hover {
	filter: brightness(85%);
} */

/* Udemy Practice Exams */
/* #udemy {
	width: 14.6em;
	border-radius: .2em;
	border: 1px solid #ddd;
	padding: .1em;
	transition: filter .3s ease;
}

#udemy:hover {
	filter: brightness(85%);
} */

/* Hangman */
/* #hangman {
	width: 14.6em;
	border-radius: .2em;
	border: 1px solid #ddd;
	padding: .1em;
	transition: filter .3s ease;
}

#hangman:hover {
	filter: brightness(85%);
} */

/* Static Layout */
/* .thumbnailsWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#imgKast {
	width: 12em;
	border-radius: .2em;
	border: 1px solid #ddd;
	padding: .1em;
	transition: filter .3s ease;
	margin-right: .5em;
}

#imgKast:hover {
	filter: brightness(80%);
}

#imgStatic {
	width: 12em;
	border-radius: .2em;
	border: 1px solid #ddd;
	padding: .1em;
	transition: filter .3s ease;
}

#imgStatic:hover {
	filter: brightness(80%);
} */

/* CSS Creature */
/* #creature {
	border-radius: .2em;
	border: 1px solid #ddd;
	padding: .1em;
	width: 6em;
	transition: filter .3s ease;
}

#creature:hover {
	filter: brightness(85%);
} */

/* END OLD WEB DEV PROJECTS */






/* Contact */
#contactSection {
	padding-top: 1em;
	background-image: linear-gradient(lightgray, gray);
}

#contact {
	padding-top: 6em;
	max-width: 35em;
}

.btn {
	border: none;
	margin: .5em 1em 1em 1em;
	background-color: #f1941b;
	color: rgb(255, 255, 255);
	transition: filter .3s ease;
	font-size: 1.1em;
}

.btn:hover {
	filter: brightness(125%);
	color: white;
}

/* Footer */
#footer {
	background-color: navy;
}

.topBtn {
	padding: .2em .5em;
	margin: 1em 0 1em 1em;
	border: none;
	border-radius: .2em;
	background-color: rgb(85, 85, 85);
	color: white;
}

.topBtn:hover {
	filter: brightness(85%);
	text-decoration: none;
	cursor: pointer;
}

.topBtn:focus {
	outline: none;
}

.copyright {
	color: rgb(224, 224, 224);
}